<div class="mobile--search">
</div>
<header class="header-template_{{template}} {% unless template == 'index'%} header-bottom_line{% endunless %}">
  <div class="section--header">
    <div class="wrap row padded-sides">
      <div class="lg-grid-5
                  md-grid-5
                  sm-grid-4
                  xs-grid-4
                  md-padded sm-padded xs-padded"
      >

      </div>
      <div class="lg-grid-2
                  md-grid-2
                  sm-grid-4
                  xs-grid-4
                  sm-center
                  "
      >
        {% include "logo" %}
      </div>

      <div class="lg-grid-5
                  md-grid-5
                  sm-grid-4
                  xs-grid-4
                  lg-right
                  md-padded"
      >
        <div class="grid-inline grid-inline-middle header-right_block">
          <span class="sm-grid-6
                      xs-grid-6
                      xs-hidden
                      search_widget-wraps"
          >
          </span>

          <span class="sm-grid-2
                      xs-hidden
                      center
											personal_wrap
                      "
          >
          </span>

        </div>
      </div>
    </div>
  </div>

  <div class="section--main_menu row">
    <div class="wrap padded-sides">

    </div>
  </div>
</header>
